<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hero - Admin</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  <style>
    .hero-list img {
      width: 50px;
    }

  </style>
</head>

<body>
  <header>
    <div class="page-header container">
      <h1><a href="/">王者荣耀</a> <small>英雄管理器</small></h1>
    </div>
  </header>
  <div class="container hero-list">
    <!-- 
      没有文件的普通表单 POST 提交
        表单会把数据以查询字符串（放到请求体）的形式发送给服务端
        由于表单 post 提交可能会有大量的数据，所以表单可能会分段发送多次表单数据到服务端

      表单如果想要上传文件，必须将表单的 enctype 设置为 multipart/form-data 才可以
     -->
    <form id="form" method="post" enctype="multipart/form-data">
      <!-- <input type="hidden" name="preview_img" id="preview_img_src"> -->
      <div class="form-group">
        <label for="exampleInputEmail1">英雄名称</label>
        <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="请输入英雄名称">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">英雄性别</label>
        <div class="radio">
          <label>
            <input type="radio" name="gender" id="optionsRadios1" value="男" checked>男
          </label>
          <label>
            <input type="radio" name="gender" id="optionsRadios1" value="女" checked>女
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">英雄图片</label>
        <img src="" alt="预览图片" id="preview_img">
        <input type="file" id="avatar" name="avatar">
        <p class="help-block">请上传英雄图片.</p>
      </div>
      <button type="submit" class="btn btn-success">点击保存</button>
    </form>
  </div>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <script>
    // 1. 监听 file 控件的 change 事件
    $('#avatar').on('change', function () {
      var imgUploadForm = new FormData()
      imgUploadForm.append('avatar', document.getElementById('avatar').files[0])
      
      // 2. 将图片异步上传到服务器
      $.ajax({
        url: '/upload',
        type: 'post',
        data: imgUploadForm,
        processData: false,
        contentType: false,
        dataType: 'json',
        success: function (data) {
          if (data.err_code === 0) {
            // 3. 将服务器响应回来的资源请求路径设置到预览图片的 src 上
            $('#preview_img').attr('src', data.result)
            // $('#preview_img_src').val(data.result)
          }
        }
      })
    })

    // 这里如果想要上传文件，则需要使用 XMLHttpRequest2 才可以
    $('#form').on('submit', function (e) {
      // 禁用表单的默认提交行为
      e.preventDefault()

      // 手动构建 FormData
      // var formData = new FormData()
      // formData.append('name', 'Jack')
      // formData.append('gender', '男')
      // formData.append('avatar', document.getElementById('avatar').files[0])

      // 基于表单元素生成 FormData
      var formData = new FormData($('#form')[0])

      // 既然用户已经通过图片预览把图片上传到服务器了，再次提交表单的时候，则没必要再上传图片了
      // 所以这里将表单中的 avatar 给删掉
      // formData.delete('avatar')

      $.ajax({
        url: '/add',
        type: 'post',
        data: formData,
        processData: false, // 告诉 jQuery 不要去处理 data 数据
        contentType: false, // 默认 jQuery 把 Content-Type 设置成了 application/xxx 指定 false 就是不让它设置，使用 multipart/form-data
        dataType: 'json',
        success: function (data) {
          if (data.err_code === 0) {
            window.location.href = '/'
          }
        }
      })
    })

  </script>
</body>

</html>

